    // ====================================================================  
    // frankly.utils.paths.scss
    // ==================================================================== 	
    // Overrides the url() of eg. background-image:url('...');
    // Syntax url([pathtype],src)
    // If pathtype is omitted and paths are enabled
    // type becomes paths-default
    // 
    // Example:  
    // 	$path:list(
	// 		 (url,'')
	// 		,(image,'../img/')
	// 		,(font,'../fonts/')
	// 	);	
	//  $paths-enabled=true;
	//  $paths-default=image; 
	// 
    // 	background:url('myimage.png'); 		 // background:url(../img/myimage.png);  
    // 	background:url(image,'myimage.png'); // background:url(../img/myimage.png); 
    // 	src:url(font,'mywebfont.eot'); 		 // src:url(../fonts/mywebfont.eot); 
    // 
    @function url($args...){
       $i:if(length($args)==2,2,1);	
       $src:nth($args,$i);
       $type:if($i==2,nth($args,1),$paths-default);
       $path:if($paths-enabled==false,'',if(keyValue($paths,$type),keyValue($paths,$type),'')); 
       @return unquote('url(' + $path+$src + ')');
    }



