  	// ====================================================================   
  	// frankly.extends
  	// Extend-Only Classes
  	// ====================================================================

  	// Mixin versions of extends
  	@mixin clearfix(){ &:after { content: '\0020'; display: table; clear: both; } }
  	@mixin clearfix-ie(){zoom:1;&:before, &:after { content: '\0020'; display: table; height: 0; overflow: hidden; }&:after { clear: both; }}
  	@mixin marginfloat(){margin-right:-100%;float:left;position:relative;}
  	@mixin borderbox(){-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
  	@mixin contentbox(){-moz-box-sizing:content-box; -webkit-box-sizing:content-box; box-sizing:content-box;}
  	@mixin hidetext(){border:0; font: 0/0 a; text-shadow: none; color: transparent; background-color: transparent;}
  	@mixin antialiased(){-webkit-font-smoothing: antialiased; font-smoothing: antialiased;}
  	@mixin wrap(){margin:0 auto; min-width:px($min-width); max-width:px($max-width);}
  	@mixin minwrap(){margin:0 auto; min-width:px($min-width);}
  	@mixin maxwrap(){margin:0 auto; max-width:px($max-width);}

  	@mixin Extends(){
		// Clearfix
		%clearfix { @include clearfix();}
		%clearfix-ie {@include clearfix-ie();}
		
		// Position 
		%relative { position:relative;}
		%absolute { position:absolute;}
		%static   { position:static;}
		%fixed    { position:fixed;}
		
		// Margin Float
		%marginfloat {@include marginfloat();}

		// Box Model
		// - BorderBox
		// - ContentBox	
		%borderbox { @include borderbox(); }	
		%contentbox{ @include contentbox();}

		// Text
		// - Boilerplate Hide Text
		// - Chrome Antialiased
		%hidetext { @include hidetext(); }
		%antialiased {@include antialiased(); }

		// Rounded  %rounded1 - %rounded20
		// @for $i from 1 through 20 {%rounded#{$i}{ -moz-border-radius:px($i); -webkit-border-radius:px($i); -khtml-border-radius:px($i); border-radius:px($i); }}
		
		// Wrapped content - center minwidth maxwidth 
		%wrap { @include wrap(); }
		%minwrap { @include minwrap(); }
		%maxwrap { @include maxwrap(); }
	}