	// ========================================================
	// Nordea Colors
	// _nordea.colors.scss
	// ========================================================

	$white:#fff;
	$black:#000;
	$nordea-blue:#005284;			
	$nordea-light-blue:#779abc;
	$nordea-beige:#ebe8e1;
	$nordea-orange:#c60;
	$nordea-green:#993;
	$nordea-red:#e50001;
	$nordea-dark:#404040;
	$nordea-gray:#808080;
	$nordea-light-gray:#d2d2d2; 
	$nordea-dark-brown:#4e4c47;

	$nordea-border-color:$nordea-light-gray;
	$nordea-text-color:$nordea-dark;
